html, body{
	height: 100%;
}

div{
	display:block;
}

p{
	font-weight:300;
}

h1 small{
	color:#888;
	font-weight:300;
	display:block;
}


.item-image{
	display: block;
	position: relative;
	width: 100%;	
}

.item-image-main img{
	box-shadow: -10px 10px 5px #888888;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    transition: all 1s ease;
}


.item-image-main img:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
     transform:scale(1.25);
}

.clearDiv{
	
	padding: 25px;
	
}

.itemBook{
	height:420px;
}

small{
	font-size:smaller;
}

.detailPrice{
	padding:10px 0;
	padding-bottom:0;
	font-size:36px;
	margin-bottom:40px;
}

.navbar-default {
  background-color: #d4c5b3;
  border-color: #d4c5b3;
  min-height : 7%;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d4c5b3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d4c5b3;
}
.navbar-default .navbar-toggle {
  border-color: #d4c5b3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d4c5b3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d4c5b3;
  }
}


#header {
    background-color: #d4c5b3;
	background-size: cover;
	background-image: url("../MainImage/MainImage1.jpg");
    color:white;
    text-align:center;
    padding:5px;
	width: 100%;
	height: 55%;
}

#intro {
	
	position:relative
	background-color: black;
	background-image: url("../MainImage/MainImage2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
    color:white;
    text-align:center;
    padding:5px;
	width: 100%;
	height: 100%;
	
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.aubtn{
	
	text-align: center;
	border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
    display: inline-block;
    width: 204px;
    height: 65px;
    margin: 25px 0 0;
    padding: 19px 22px 7px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Glegoo", serif;
    letter-spacing: 2px;
}

.aubtn:hover{
	border-top: 4px solid #d4c5b3;
    border-bottom: 4px solid #d4c5b3;
	border-right: 4px solid #d4c5b3;
	border-left: 4px solid #d4c5b3;

}

#introText{
	position: relative;
    text-align: center;
    width: 100%;
    padding-top: 18%;
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in-out 1;
	animation:fadeIn ease-in-out 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

#introText h1 {
	
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
	font-family: "Glegoo", serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#introText h2 {
	font-style: italic;
	font-family: 'Glegoo', serif;
    padding-top: 30px;
    padding-bottom: 45px;
    font-size: 25px;
    line-height: 50px;
    color: #fff;
}

#owl-bestseller .item{
	background: white;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
    }

#owl-bestseller p{
	position: absolute;
    bottom: 0;
    left: 0;
    color: #222;
    background: transparent;
	font-family: 'Glegoo', serif;
	font-weight: 500;
    width: 100%;
}

#owl-newArri p{
	position: absolute;
    bottom: 0;
    left: 0;
    color: #222;
    background: transparent;
	font-family: 'Glegoo', serif;
	font-weight: 500;
    width: 100%;
	
}
#owl-newArri .item{
        background: white;
        padding: 30px 0px;
        margin: 10px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }
    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

#bestSeller h2{
	margin: 0;
    font-size: 30px;
	font-family: 'Glegoo', serif;
	color: #222;
	font-weight: 300;
	display: block;
	margin-top: 2cm;
    
}

#bestSeller small{
	font-size: 15px;
	color: #888;
    font-weight: 300;
    line-height: 1;
	font-family: 'Glegoo', serif;
}

#newArrival h2{
	margin: 0;
    font-size: 30px;
	font-family: 'Glegoo', serif;
	color: #222;
	font-weight: 300;
	display: block;
	
}

#newArrival small{
	font-size: 15px;
	color: #888;
    font-weight: 300;
    line-height: 1;
	font-family: 'Glegoo', serif;
	 
  
}

#AuthorMonth{
	padding-bottom:50px;
}


#AuthorMonth h2{

   margin: 0;
    font-size: 30px;
	font-family: 'Glegoo', serif;
	color: #222;
	font-weight: 300;
	display: block;
	
}

#AuthorMonth small{
	font-size: 15px;
	color: #888;
    font-weight: 300;
    line-height: 1;
	font-family: 'Glegoo', serif;
}


.dash {
	position: relative;
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: #222;
}

#map {
	width: 500px;
	height: 250px;
	background-color: #CCC;
}


.item-image img{
	box-shadow: -10px 10px 5px #888888;
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    transition: all 1s ease;
}

.item-image img:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
     transform:scale(1.25);
}

.item-info{
	text-align:center;
}


.sidebar .sidebar-entry{
	margin-bottom:30px;
	border:1px solid #eee;
	padding:25px 30px;
	font-weight:300;

}

.sidebar .sidebar-entry .sidebar-entry-title {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 #fff, 0 2px 0 #eee;
    -moz-box-shadow: 0 1px 0 #fff, 0 2px 0 #eee;
    box-shadow: 0 1px 0 #fff, 0 2px 0 #eee;
    margin-bottom: 20px;
    padding-top: 0;
}

.sidebar .sidebar-entry ul{

	list-style:none;
	margin:0;
	padding:0;

}

.sidebar .sidebar-entry ul li {
    border-bottom: 1px solid #eee;
    line-height: 32px;
    color: #afafaf;
    text-transform: uppercase
}

.sidebar .sidebar-entry ul li>a {
    display: inline-block;
    color: #737373;
    margin-right: 5px
}

.sidebar .sidebar-entry ul li>a:hover {
    color: red;
}

.sidebar .sidebar-entry ul li.current-cat>a {
    color: #222;
    font-weight: 400
}



footer.site-footer{
	padding: 40px 0;
	font-size: 14px;
	color: #888;
	font-weight: 300;
	background-color:#CFC4B2;	
	
}


.footer-siteMap{
	display:block;
	list-style: none;
	padding: 0;
	margin:0;
}

.footer-genres{
	display:block;
	list-style: none;
	padding: 0;
	margin:0;
}

.footer-social{
	display:block;
	list-style: none;
	padding: 0;
	margin:0;
}

.footer-usefulLink{
	display:block;
	list-style: none;
	padding: 0;
	margin:0;
}

.footer-bottom{
	border-top: 1px solid #eee;
	padding: 40px 0 0 0;
	margin-top: 20px;
}

.footer-menu ul{
	padding: 0;
	margin: 0;
}

.footer-menu ul li{
	content="";
	display: inline-block;
	list-style: none;
	margin: 0 10px;
	border-right: 2px solid #eee;
	padding-right:20px
	
}


.morecontent p {
    display: none;
}

.morelink {
    display: block;
}

.details {
	display: none;
}

.journalinfo {
	text-align: justify;
}

.float {
  -webkit-transition:all .4s ease-out;
  -moz-transition:all .4s ease-out;
  -ms-transition:all .4s ease-out;
  transition:all .4s ease-out;
}

.float:hover {
	-webkit-transform:translate(0%,-10%);
	-moz-transform:translate(0%,-10%);
	-ms-transform:translate(0%,-10%);
	transform:translate(0%,-10%);
	-webkit-box-shadow: 0 15px 6px -6px black;
	-moz-box-shadow: 0 15px 6px -6px black;
	box-shadow: 0 15px 6px -6px black;
}