html, body{
	height: 100%;
	font-family: 'Glegoo', serif;
}

.navbar-default {
  background-color: #d4c5b3;
  border-color: #d4c5b3;

}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d4c5b3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d4c5b3;
}
.navbar-default .navbar-toggle {
  border-color: #d4c5b3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d4c5b3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d4c5b3;
  }
}

div img{
	position: relative;
    width: 847.5px;
    height: 476px;    
	vertical-align: middle;
	border: 0;
	color: #7b599b;
	text-align: center;
	font-size: 14px;
	
}

p{
	
	font-size: 15px;
    line-height: 25px;
	font-weight: 300;
	display: block;
}

.sidebar .sidebar_cate1 {
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding: 25px 30px;
    font-weight: 300;
}

.sidebar .sidebar_cate1 .sidebar-entry-title{
    color: #222;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 #fff,0 2px 0 #eee;
    -moz-box-shadow: 0 1px 0 #fff,0 2px 0 #eee;
    box-shadow: 0 1px 0 #fff,0 2px 0 #eee;
    margin-bottom: 20px;
    padding-top: 0;
}

.sidebar .sidebar_cate1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar_cate1 ul li {
    border-bottom: 1px solid #eee;
    line-height: 32px;
    color: #afafaf;
    text-transform: uppercase;
}

.sidebar .sidebar_cate1 ul li a:hover {
    color:red;
}

u
{
	display: block;
	position: relative;
	bottom: 200px;
	color: white;
	font-style: normal;
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	transition: all 300ms ease 0s;
		transition-property: all;
		transition-duration: 300ms;
		transition-timing-function: ease;
		transition-delay: 0s;
}

.post-image:hover
{
	filter: contrast(80%);
}

img:hover + #cont
{
	opacity: 1;
	bottom: 250px;
}

#cont:hover
{
	opacity: 1;
	bottom: 250px;
}